$darkBackgroundColor: #181818;
$greyBackgroundColor: #343434;
$lightBackgroundColor: #FFFFFF;
$secondTextColor: #5C5C5C;
$lightTextColor: #FFFFFF;
$darkTextColor: #000000;
$primaryColor: #4452FE;
$secondaryColor: #02E4C0;
$secondSecondaryColor: #112D57;

$tabletView: 768px;
$desktopView: 1100px;
$max-width: 1400px;