@import "theme/01_fundaments/colors";
@import "theme/04_organisms/headerNavbar";

  .header{
    background-color: $darkBackgroundColor;
  }
  .nav-bar{
    background-color: $darkBackgroundColor;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: $desktopView)
  {
    .nav-bar{
      width: 70%;
      margin: auto;
    }
  }